%table{:class => "table table-striped table-bordered table-condensed"}
  %thead
    %tr
      %th User ID
      %th Email
      %th Work Bench ID
      %th First Name
      %th Last Name
      %th Role
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.work_id
        %td= user.first_name
        %td= user.last_name
        %td= user.role
        - if @current_user.admin?
          %td= link_to "Make Mod", change_role_path(:id => user.id, :role => 'moderator'), :id => "make_mod_" + user.id.to_s
        %td= link_to '', user, :class => "icon-user"
        %td= link_to '', edit_user_registration_path(user),:id => "edit_" + user.id.to_s, :class => "icon-wrench"
        %td= link_to '', user, :confirm => 'Are you sure?', :method => :delete, :id => "delete_" + user.id.to_s, :class => "icon-trash"