
<%= form_for @challenge do |f| %>
    <div id="content">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#basic_info" data-toggle="tab">Basic Information</a></li>
            <li><a href="#webpages" data-toggle="tab">Webpages</a></li>
            <li><a href="#phases" data-toggle="tab">Phases</a></li>
            <li><a href="#submit" data-toggle="tab">Submit</a></li>
        </ul>
    </div>
    <div id="my-tab-content" class="tab-content">
        <div class="tab-pane active" id="basic_info">
            <p>
                <%= f.label :title %>
                <%= f.text_field :title %><br/>
               
                <%= f.label :description %>
                <%= f.text_area :description, :style => "width: 800px; height: 200px" %><br/>
                <%= f.hidden_field :user_id, :value => current_user.id %>
            </p>
        </div>
        <div class="tab-pane" id="webpages">
            <p>    
                <% i = 0 %>
                <%= f.fields_for :webpages do |builder| %>
                    <% if i == 0 %>
                        <div id="<%= i %>">
                            <%= render 'webpage_fields', :f => builder %>
                            <a class="btn2_<%= i + 1 %>">Add a Page</a>
                            </br>
                        </div>
                    <% else %>
                        <%= content_tag :div, id: i do -%>
                            <%= render 'webpage_fields', :f => builder %>
                            <a class="btn2_<%= i + 1 %>">Add a Page</a>
                            </br>
                        <% end -%>
                        <script>
                            if(!document.getElementById('challenge_webpages_attributes_<%= i %>_title').value) {
                                $( "#<%= i %>" ).hide();
                            }
                        </script>
                    <% end %>
                    <script>
                        $(document).ready(function(){
                            $(".btn1_<%= i %>").click(function(){
                                $( "#<%= i %>" ).hide();
                                $(".btn2_<%= i %>").show()
                            });
                            $(".btn2_<%= i %>").click(function(){
                                $( "#<%= i %>" ).show();
                                $(".btn2_<%= i %>").hide()
                            });
                        });
                    </script>
                    <% i = i + 1 %>
                <% end %>
            </p>
        </div>
        <div class="tab-pane" id="phases">
            <p>    
                <% j = 0 %>
                <a class="phrase_btn2_<%= j %>">Add a Phrase</a>
                <%= f.fields_for :phrases do |builder| %>
                   <div id="phrase_<%= j %>">
                        <%= render 'phrase_fields', :f => builder %>
                        <a class="phrase_btn2_<%= j + 1 %>">Add a Phrase</a>
                        </br>
                   </div>
                   <script>
                       if(!document.getElementById('challenge_phrases_attributes_<%= j %>_label').value) {
                            $( "#phrase_<%= j %>" ).hide();
                        }
                   </script>
                   <script>
                        $(document).ready(function(){
                            $(".phrase_btn1_<%= j %>").click(function(){
                                $( "#phrase_<%= j %>" ).hide();
                                $(".phrase_btn2_<%= j %>").show();
                            });
                            $(".phrase_btn2_<%= j %>").click(function(){
                                $( "#phrase_<%= j %>" ).show();
                                $(".phrase_btn2_<%= j %>").hide();
                            });
                        });
                    </script>
                   <% j = j + 1 %>
                <% end %>
                <br>
            </p>
        </div>
        <div class="tab-pane" id="submit">
            <p><%= f.submit "Submit" , :id => "submit", :class => "btn btn-primary" %></p>
        </div>
    </div>
<% end %>




