<div class="webpage">	
	<%= f.label :title, "Page Title"%>
	<%= f.text_field :title %><br />

	<div class="ext_url"> Use external URL <%= f.check_box :is_external_url, :onclick => "checkStatus(this)" %> </div>

	<div class="text_wysithml5">	
		<%= f.label :web_content, "Page Content" %>
		<%= f.text_area :web_content, :style => "width: 800px; height: 200px", :class => "wysihtml5" , :rows => 10 %>
	</div> 

	<div class="text_simple_box"> 
		<%= f.label :web_content, "External URL"%>
		<%= f.text_field :url%>
	</div> 

	<div class="destroy"> Remove this page from the challenge
		<%= f.check_box :_destroy %> 
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".text_simple_box").hide(); 

	});

	var checkStatus = function(check_box_obj)
	{
		console.log($(check_box_obj).parent().parent())
		console.log($(check_box_obj).siblings())
		if (check_box_obj.checked){

			$(check_box_obj).parent().siblings(".text_wysithml5").hide()
			$(check_box_obj).parent().siblings(".text_simple_box").show()
		}
		else{
			$(check_box_obj).parent().siblings(".text_wysithml5").show()
			$(check_box_obj).parent().siblings(".text_simple_box").hide()
		}
	};

</script>
  
</body>
</html>
