<strong> Title </strong><%= @challenge.title %> </br>

<ul>
<% for webpage in @challenge.webpages %>
  <li>
  	<strong> Title: </strong> <%= webpage.title %> </br>
  	<% if webpage.is_external_url? %>
	  <strong> External URL: </strong> <%= webpage.url %>
    <% else %>
	  <strong> Content: </strong> <%= webpage.web_content %>
   	<% end %>
  </li>
<% end %>
</ul>

<p>
  <%= link_to "Edit", edit_challenge_path(@challenge) %> |
  <%= link_to "Delete", @challenge, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", challenges_path %>
</p>