<html>
<head>
   <title><%= content_for?(:title) ? yield(:title) : "ChaLearn" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
</head>
  <body>
    <%# application layout styled for Twitter Bootstrap 2.3 %>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
        <div class="content">
           <div class="row">
            <div class="span12">
              <% if flash[:notice] %>
                <div class="alert alert-success"><%= flash[:notice] %></div> 
              <% end %>
              <% if flash[:error] %>
                <div class="alert alert-danger"><%= flash[:error] %></div> 
              <% end %>
              <%= yield %>
            </div>
          </div>
          <footer>
          </footer>
        </div>
      </div>
    </main>

</body>
</html>
<script>
$.backstretch("http://www.wallsave.com/wallpapers/1366x768/gold-globe-in-hand/249777/gold-globe-in-hand-golden-gate-night-san-francisco-usa-249777.jpg");
</script>